@model MvcLogin.Models.CargaInicial
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="/Content/favicon.ico" />
    <title>@ViewBag.Title</title>
    @* @Styles.Render("~/Content/Login")*@
    @Styles.Render("~/Content/MaterialIcons")
    @Scripts.Render("~/bundles/jquery")<!-- jQuery-->
    @Styles.Render("~/Content/Angularcss")<!-- Angular Material && Bootstrap CSS-->
    @Scripts.Render("~/bundles/Angular")<!-- Angular-->
    @Scripts.Render("~/bundles/bootstrapJS")<!-- Bootstrap JS-->
    @Scripts.Render("~/bundles/Areas/Admin")<!-- Areas-->
    
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    @*MD Table Materialize*@
    <script src="~/Content/Angular_Modules/angular-material-data-table/md-data-table.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
</head>
<body id="Body_Layout" ng-app="BaseMVC" ng-controller="MainCtrl">
    <style>
        .Adsum {
            background-color: #D8D8D8 !important;
            color: #00B0B3 !important;
        }

        .iconoNav {
            left: 0px;
            position: absolute;
        }

        .form-header-SK h1 {
            padding: 4px 0;
            color: #00B0B3;
            /*font-size: 24px;*/
            font-weight: 700;
            text-transform: uppercase;
        }

        .form-panel.two-SK {
            z-index: 5;
            position: absolute;
            top: 0;
            left: 95%;
            background: #00B0B3;
            width: 100%;
            min-height: 100%;
            padding: 60px calc(10% + 60px) 60px 60px;
            /*-webkit-transition: .3s ease;
            transition: .3s ease;
            cursor: pointer;*/
        }

        .form-group .form-recovery-SK {
            color: #ED1D25;
            font-size: 14px;
            /*text-decoration: none;*/
        }

        .form-group-SK input {
            outline: none;
            display: block;
            background: #ED1D25;
            width: 100%;
            border: 0;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 12px 20px;
            color: #FEFDFD;
            font-family: inherit;
            font-size: inherit;
            font-weight: 500;
            line-height: inherit;
            -webkit-transition: .3s ease;
            transition: .3s ease;
        }

        .navbar-inverse-SK {
            /*background-color: #222;*/
            border-color: #A1A1A5;
        }

        .btn-primary:hover {
        }

        .btn-primary-SK:hover, .btn-primary-SK:focus, .btn-primary-SK:active {
            color: white;
            background-color: #00B0B3;
            border-color: #A1A1A5;
        }

        .navbar-brand-SK {
            /*float: left;*/
            padding: 15px 15px;
            font-size: 18px;
            line-height: 20px;
        }

        .nav > li > a:hover, .nav > li > a:focus {
            text-decoration: none;
            background-color: #005666;
            color: #FEFDFD;
        }

        a {
            color: #FEFDFD;
            text-decoration: none;
        }

        .caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 8px;
            vertical-align: middle;
            border-top: 4px solid #000;
            border-right: 4px solid transparent;
            border-bottom: 0 dotted;
            border-left: 4px solid transparent;
            content: "";
        }

        .nav .caret {
            border-top-color: #FEFDFD;
            border-bottom-color: #FEFDFD;
        }

        .nav a:hover .caret {
            border-top-color: #FEFDFD;
            border-bottom-color: #FEFDFD;
        }

        .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
            background-color: #005666;
            border-color: #428bca;
        }

        .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            color: #fff;
            text-decoration: none;
            background-color: #00B0B3;
        }
    </style>

    @Html.Partial("_Nav", Model)
    <div class="contenedor margintop content">
        @RenderBody()
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
